@font-face {
    font-family: 'Charter BT';
    src: url('fonts/Charter-BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter BT';
    src: url('fonts/Charter-Bold-BT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Charter BT', serif;
}

h1, h2, h3 {
    font-weight: bold;
}

/* Night Mode Adjustments */
.dark-mode {
    background-color: #121212;
    color: #ffffff; /* White for all black text */
}

.dark-mode a,
.dark-mode .publication-title,
.dark-mode .linked-publication {
    color: lightblue; /* Consistent lighter blue for all links and blue text */
}

.dark-mode a:visited {
    color: lightblue !important; /* Ensure visited links stay light blue */
}

.dark-mode a:hover,
.dark-mode .publication-title:hover,
.dark-mode .linked-publication:hover {
    text-decoration: underline; /* Underline on hover in dark mode */
}

.dark-mode .bold-title {
    color: #ffffff; /* White for bold black titles */
}

.dark-mode hr {
    border-top: 0.5px solid #ffffff; /* White lines in dark mode */
}
